@{
    ViewData["Title"] = "Contact";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/contactme.css" />
</head>

<div class="profile-pic">
    <img src="~/Images/GradPic.jpg" alt="Grad Pic" />
</div>

<h2>
    Feel free to contact me. Just click on the link to <a href="mailto:zein_youssef@hotmail.com">send me an email!</a>
</h2>