@{
    ViewData["Title"] = "About Me";
}

<h1>Zein Youssef</h1>

<h2>Education</h2>

<b>Wayne State University</b>
<p>September 2015 - May 2019</p>

<p>
    I graduated from Wayne State University with a Bachelor's of Science majoring in Computer Science and a minor
    in Mathematics. I graduated in May of 2019 with a GPA of 3.7. My education focused on OOP when it comes to
    programming and have had the opportunity to work with multiple programming languages and technologies including
    C++, Java, Python, php, HTML, MySQL and Unity.
</p>

<img src="Images/wayne-logo.png" alt="Wayne State Logo" />

<h2>Work Experience</h2>

<b>Lifeguard/Pool Coordinator</b>
<p>May 2014 - Present</p>

<p>
    I started working as a Lifeguard for the City of Windsor in May of 2014 and since then I have taken on more responsibilites
    in the role. I have been promoted to Pool Coordinator where I take on more of a leadership role that has a lot more
    responsibilities. I am now responsible for overseeing all of the operations of the pools I work at and ensure that
    everything runs smoothly.
</p>

<b>DTX Launch Detroit Intern</b>
<p>May 2018 - August 2018</p>

<p>
    I worked as an intern for Techtown Detroit in the Summer of 2018. As an intern for their DTX Launch program I came in with
    a team and a business idea. We then spent multiple weeks developing a business model around our idea using a lean business
    approach. Meaning that we spent the Summer conducting over 100 customer discovery interviews with people that we believed were 
    in our target market in order to educate ourselves on the viability of our business idea.
</p>
